/*  your css code here. If applicable */
.header{
	justify-content:center;
	padding:10px;
	background-color:#011e29;
	color:white;
	border-radius:20px;
	text-align:center;
}

body{
	background-color:whitesmoke;
}
.abc{
	display:flex;
	flex-direction:row;
}
.latest-news-section,.Main-article,.pictorial-news-section{
	background-color:white;
	display:flex;
	padding:10px;
	margin:10px;
	border-radius:10px;
	width:33vw;
	text-align:center;
}
img{
	width:100px;
	height:100px;
	padding:20px;
	
	
}
